DB_PASSWORD=your_db_password
JWT_SECRET=your_jwt_secret_32chars_or_more!!
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_gmail_app_password
